@import "tailwindcss";

/* Chrome, Safari, Edge, Opera */
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}
